# Auto detect text files and perform LF normalization
* text=auto

# Go source files
*.go text eol=lf diff=golang

# Documentation & Config
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
